<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>


<h2>My groups</h2>
<table class="table">
	<tr>
		<th>Group></th>
		<th></th>
	</tr>

<% @user.groups.each do |group| %>
	<tr>
		<td><%= link_to group.name, group_path(group) %></td>
		<td><%= link_to 'Leave group', leave_group_path(group, :user => current_user), :method => :post, :class => 'btn' %></td>
	</tr>

<% end %>
</table>
